@model Nexmo.Web.Sample.Models.Actions
@{
    ViewBag.Title = "Home Page";
}
<h1>Nexmo Sample</h1>

<h2>SMS</h2>
<h3>Send</h3>
@using (Html.BeginForm("Sms", "Home"))
{
    @Html.LabelFor(m => m.SMS.from)
    @Html.TextBoxFor(m => m.SMS.from)

    @Html.LabelFor(m => m.SMS.to)
    @Html.TextBoxFor(m => m.SMS.to)

    @Html.LabelFor(m => m.SMS.text)
    @Html.TextAreaFor(m => m.SMS.text)

    <input type="submit" />
}
<h3>Receipts</h3>
@if (!Model.Receipts.Any())
{
    <span>No receipts</span>
}
@foreach (var r in Model.Receipts)
{
    <span>@r.to - recv'd @r.message_timestamp</span>
}
<h3>Inbounds</h3>
@if (!Model.Inbounds.Any())
{
    <span>No inbounds</span>
}
@foreach (var i in Model.Inbounds)
{
    <span>[@i.message_timestamp] @i.msisdn => @i.to = @i.text</span>
}
<h3>Voice Returns</h3>
@if (!Model.VoiceReturns.Any())
{
    <span>No call returns</span>
}
@foreach (var i in Model.VoiceReturns)
{
    <span>[@i.to] (@i.status) @i.CallDuration @i.CallPrice</span>
}
<h3>TTS Returns</h3>
@if (!Model.TTSReturns.Any())
{
    <span>No TTS returns</span>
}
@foreach (var i in Model.TTSReturns)
{
    <span>[@i.to] (@i.status) @i.call_direction @i.call_price [@i.digits]</span>
}
<hr/>

<h2>Number Insight</h2>
@using (Html.BeginForm("NumberInsight", "Home"))
{
    @Html.LabelFor(m => m.NI.Number)
    @Html.TextBoxFor(m => m.NI.Number)
    
    <input type="submit"/>
}

<h2>Number Verify</h2>
@using (Html.BeginForm("NumberVerify", "Home"))
{
    @Html.LabelFor(m => m.NV_V.Number)
    @Html.TextBoxFor(m => m.NV_V.Number)

    @Html.LabelFor(m => m.NV_V.Brand)
    @Html.TextBoxFor(m => m.NV_V.Brand)
    <input type="submit" />
}

<h2>Number Verify - Check</h2>
@using (Html.BeginForm("NumberVerifyCheck", "Home"))
{
    @Html.LabelFor(m => m.NV_C.RequestId)
    @Html.TextBoxFor(m => m.NV_C.RequestId)

    @Html.LabelFor(m => m.NV_C.Code)
    @Html.TextBoxFor(m => m.NV_C.Code)
    <input type="submit" />
}

<h2>Number Verify - Search</h2>
@using (Html.BeginForm("NumberVerifySearch", "Home"))
{
    @Html.LabelFor(m => m.NV_S.RequestId)
    @Html.TextBoxFor(m => m.NV_S.RequestId)
    <input type="submit" />
}